<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Room Exchange System</a>
    </div>

  </div>
</nav>

<div class="container">
<div class="row">
    <div class="col-sm-4" ></div>
    <div class="col-sm-4" >
        <div class="panel panel-default">
          <div class="panel-heading">Login using IITB LDAP</div>
          <div class="panel-body">
          <div class="{{errorclass}} alert alert-danger">
            <strong>Login Error</strong> Invalid login credentials!  </div>
            <form role="form" action="/login/" method="POST">
            {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="uname" class="form-control input-lg" id="ldapid" placeholder="Enter LDAP ID">
                </div>
                <div class="form-group">
                  <input type="password" name="passwd" class="form-control input-lg" id="pwd" placeholder="Enter password">
                </div>

                <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
              </form>

          </div>
        </div>
    </div>
    <div class="col-sm-4" ></div>
  </div>
</div>
</body>
</html>